<div id="<%= dom_id publication %>" >
    <div class="col">
      <div class="card border-secondary mb-3 h-100" style="max-width: 18rem;">
        <div class="card-header">Usuario: <%= publication.user.email%></div>
        <div class="card-body text-secondary">
          <h5 class="card-title"><%= publication.title %></h5>
          <p class="card-text"><%= publication.content %></p>
        </div>
      </div>
    </div>
</div>
